@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.remains_page {
	background: rgb(59, 24, 16);
	background: linear-gradient(90deg, rgba(59, 24, 16, 1) 0%, rgba(182, 81, 81, 1) 42%, rgba(245, 188, 188, 1) 84%);
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.remains_table {
	width: 800px;
	max-height: 500px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 14px;
	padding: 5px;
	background-color: #222222;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.remains_th {
	text-align: center;
	color: #fff;
	padding: 10px;
	background-color: #454545;
	border-radius: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}